body {
    background-color: black;
    overflow-x: hidden;
}

#ballet-shoes {
    margin-left: 20px;
    margin-top: 10px;
    width: 40px;
    height: 80px;
}

#top-line {
    margin-top: 20px;
}

.nav-bar {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: "Bodoni Moda", serif;
    margin-left: 50px;
}

.nav-bar:hover, .nav-bar:active {
    background-color: pink;
    color: black;
}

#bottom-line {
    margin-top: 10px;
}

.title-serif {
    position: absolute;
    top: 180px;
    font-size: 125px;
    font-family: "Bodoni Moda", serif;
    color: white;
    text-align: right;
    right: 500px;
}

.title-cursive {
    position: absolute;
    top: 280px;
    right: 50px;
    font-size: 250px;
    font-family: "Ballet", serif;
    color: white;
}

.title-cursive:hover {
    color: pink;
}

#key-figures-intro-container {
    background-color: black;
    left: 50px;
    width: 80%;
    height: 150px;
    position: relative;
    top: 580px;
}


.key-figures-intro {
    color: white;
    font-family: "Bodoni Moda", serif;
    font-style: normal;
    font-size: 25px;
    text-align: left;
    left: 30px;
    position: absolute;
}

* {box-sizing: border-box;}

#slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    top: 540px;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 20;
    border-radius: 3px 0 0 3px;
}

.text {
    color: white;
    font-size: 15px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    top: 565px;
    position: relative;
}

.active, .dot:hover {
    background-color: #717171;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.image-link {
    color: grey;
    font-size: 15px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -30px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.info-container {
    height: 400px;
    width: 100%;
    background-color: black;
    position: relative;
    top: 600px;
}

.title-1 {
    font-family: "Bodoni Moda",serif;
    color: white;
    font-size: 100px;
    left: 50px;
    position: relative;
}

.title-2 {
    font-family: "Ballet",serif;
    color: pink;
    font-size: 100px;
    left: 330px;
    position: absolute;
    top: 0;
}

html {
    scroll-behavior: smooth;
}

#button-text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 25px;
    position: relative;
    top: 50px;
    left: 30px;
    z-index: 3;
}

#top-arrow {
    position: relative;
    height: 40%;
    z-index: 10;
    left: 35px;
    top: -25px;
}

/* section 1*/

.back-to-top-button-1 {
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 580px;
    left: 30px;
}

#section-1 {
    background-color: pink;
    position: relative;
    height: 700px;
    top: 600px;
    width: 100%;
}

.section-1-subheading-1 {
    position: absolute;
    text-align: left;
    left: 30px;
    font-family: "Bodoni Moda", serif;
    font-size: 80px;
    color: black;
    top: 20px;
}

.section-1-subheading-2 {
    position: absolute;
    text-align: left;
    left: 260px;
    font-family: "Ballet", serif;
    font-style:bold;
    font-size: 100px;
    top: -5px;
    color: black;
}

#section-1-line {
    position: absolute;
    top: 80px;
    left: 550px;
    z-index: 0;
}

#source-link-1{
    color: black;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 1120px;
    top: 100px;
}

#section-1-born-died-info-container {
    border: 2px black solid;
    background-color: white;
    position: relative;
    top: 210px;
    width: 400px;
    left: 30px;
}

#section-1-born {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-1-died {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-1-info {
    position: absolute;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    top: 200px;
    color: black;
    padding-left: 500px;
    padding-right: 100px;
}

/* section 2*/

#section-2 {
    background-color: black;
    position: relative;
    height: 700px;
    top: 600px;
    width: 100%;
}

.section-2-subheading-1 {
    position: absolute;
    text-align: right;
    right: 260px;
    font-family: "Bodoni Moda", serif;
    font-size: 80px;
    color: white;
    top: 20px;
}

.section-2-subheading-2 {
    position: absolute;
    text-align: right;
    right: 30px;
    font-family: "Ballet", serif;
    font-style:bold;
    font-size: 100px;
    top: -5px;
    color: white;
}

#section-2-line {
    position: absolute;
    top: 80px;
    right: 500px;
    z-index: 0;
}

#source-link-2{
    color: white;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 100px;
    top: 100px;
}


#section-2-born-died-info-container {
    border: 2px pink solid;
    background-color: white;
    position: absolute;
    top: 210px;
    width: 400px;
    left: 1070px;
}

#section-2-born {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-2-died {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-2-info {
    position: absolute;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    top: 200px;
    color: white;
    padding-right: 500px;
    padding-left: 100px;
}

.back-to-top-button-2 {
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 580px;
    right: 30px;
}

/* section 3 */

#section-3 {
    background-color: pink;
    position: relative;
    height: 700px;
    top: 600px;
    width: 100%;
}

.section-3-subheading-1 {
    position: absolute;
    text-align: left;
    left: 30px;
    font-family: "Bodoni Moda", serif;
    font-size: 80px;
    color: black;
    top: 20px;
}

.section-3-subheading-2 {
    position: absolute;
    text-align: left;
    left: 350px;
    font-family: "Ballet", serif;
    font-style:bold;
    font-size: 100px;
    top: -5px;
    color: black;
}

#section-3-line {
    position: absolute;
    top: 80px;
    left: 550px;
    z-index: 0;
}

#source-link-3{
    color: black;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 1120px;
    top: 100px;
}

#section-3-born-died-info-container {
    border: 2px black solid;
    background-color: white;
    position: relative;
    top: 210px;
    width: 400px;
    left: 30px;
}

#section-3-born {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-3-died {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-3-info {
    position: absolute;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    top: 200px;
    color: black;
    padding-left: 500px;
    padding-right: 100px;
}

.back-to-top-button-3 {
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 580px;
    left: 30px;
}

/*section 4*/

#section-4 {
    background-color: black;
    position: relative;
    height: 700px;
    top: 600px;
    width: 100%;
}

.section-4-subheading-1 {
    position: absolute;
    text-align: right;
    right: 270px;
    font-family: "Bodoni Moda", serif;
    font-size: 80px;
    color: white;
    top: 20px;
}

.section-4-subheading-2 {
    position: absolute;
    text-align: right;
    right: 30px;
    font-family: "Ballet", serif;
    font-style:bold;
    font-size: 100px;
    top: -5px;
    color: white;
}

#section-4-line {
    position: absolute;
    top: 80px;
    right: 530px;
    z-index: 0;
}

#source-link-4{
    color: white;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 100px;
    top: 100px;
}

#section-4-born-died-info-container {
    border: 2px pink solid;
    background-color: white;
    position: absolute;
    top: 210px;
    width: 400px;
    left: 1070px;
}

#section-4-born {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-4-died {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-4-info {
    position: absolute;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    top: 200px;
    color: white;
    padding-right: 500px;
    padding-left: 100px;
}

.back-to-top-button-4 {
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 580px;
    right: 30px;
}

/* section 5 */

#section-5 {
    background-color: pink;
    position: relative;
    height: 700px;
    top: 600px;
    width: 100%;
}

.section-5-subheading-1 {
    position: absolute;
    text-align: left;
    left: 30px;
    font-family: "Bodoni Moda", serif;
    font-size: 80px;
    color: black;
    top: 20px;
}

.section-5-subheading-2 {
    position: absolute;
    text-align: left;
    left: 260px;
    font-family: "Ballet", serif;
    font-style:bold;
    font-size: 100px;
    top: -5px;
    color: black;
}

#section-5-line {
    position: absolute;
    top: 80px;
    left: 550px;
    z-index: 0;
}

#source-link-5{
    color: black;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 875px;
    top: 100px;
}

#source-link-5-2{
    color: black;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 1120px;
    top: 100px;
}

#section-5-born-died-info-container {
    border: 2px black solid;
    background-color: white;
    position: relative;
    top: 210px;
    width: 400px;
    left: 30px;
}

#section-5-born {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-5-died {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-5-info {
    position: absolute;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    top: 200px;
    color: black;
    padding-left: 500px;
    padding-right: 100px;
}

.back-to-top-button-5 {
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 580px;
    left: 30px;
}

/* section 6 */

#section-6 {
    background-color: black;
    position: relative;
    height: 700px;
    top: 600px;
    width: 100%;
}

.section-6-subheading-1 {
    position: absolute;
    text-align: right;
    right: 320px;
    font-family: "Bodoni Moda", serif;
    font-size: 80px;
    color: white;
    top: 20px;
}

.section-6-subheading-2 {
    position: absolute;
    text-align: right;
    right: 30px;
    font-family: "Ballet", serif;
    font-style:bold;
    font-size: 100px;
    top: -5px;
    color: white;
}

#section-6-line {
    position: absolute;
    top: 80px;
    right: 530px;
    z-index: 0;
}

#source-link-6{
    color: white;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 100px;
    top: 100px;
}

#section-6-born-died-info-container {
    border: 2px pink solid;
    background-color: white;
    position: absolute;
    top: 210px;
    width: 400px;
    left: 1070px;
}

#section-6-born {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-6-died {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-6-info {
    position: absolute;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    top: 200px;
    color: white;
    padding-right: 500px;
    padding-left: 100px;
}

.back-to-top-button-6 {
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 580px;
    right: 30px;
}

/* section 7 */

#section-7 {
    background-color: pink;
    position: relative;
    height: 700px;
    top: 600px;
    width: 100%;
}

.section-7-subheading-1 {
    position: absolute;
    text-align: left;
    left: 30px;
    font-family: "Bodoni Moda", serif;
    font-size: 80px;
    color: black;
    top: 20px;
}

.section-7-subheading-2 {
    position: absolute;
    text-align: left;
    left: 260px;
    font-family: "Ballet", serif;
    font-style:bold;
    font-size: 100px;
    top: -5px;
    color: black;
}

#section-7-line {
    position: absolute;
    top: 80px;
    left: 480px;
    z-index: 0;
}

#source-link-7{
    color: black;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 875px;
    top: 100px;
}

#source-link-7-2{
    color: black;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 1120px;
    top: 100px;
}


#section-7-born-died-info-container {
    border: 2px black solid;
    background-color: white;
    position: relative;
    top: 160px;
    width: 400px;
    left: 30px;
}

#section-7-born {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-7-info {
    position: absolute;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    top: 150px;
    color: black;
    padding-left: 500px;
    padding-right: 100px;
}

.back-to-top-button-7 {
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 580px;
    left: 30px;
}

/* section 8 */

#section-8 {
    background-color: black;
    position: relative;
    height: 700px;
    top: 600px;
    width: 100%;
}

.section-8-subheading-1 {
    position: absolute;
    text-align: right;
    right: 340px;
    font-family: "Bodoni Moda", serif;
    font-size: 80px;
    color: white;
    top: 20px;
}

.section-8-subheading-2 {
    position: absolute;
    text-align: right;
    right: 30px;
    font-family: "Ballet", serif;
    font-style:bold;
    font-size: 100px;
    top: -5px;
    color: white;
}

#section-8-line {
    position: absolute;
    top: 80px;
    right: 550px;
    z-index: 0;
}

#source-link-8{
    color: white;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 100px;
    top: 100px;
}

#source-link-8-2{
    color: white;
    font-size: 15px;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 350px;
    top: 100px;
}

#section-8-born-died-info-container {
    border: 2px pink solid;
    background-color: white;
    position: absolute;
    top: 210px;
    width: 400px;
    left: 1070px;
}

#section-8-born {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

#section-8-info {
    position: absolute;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    top: 200px;
    color: white;
    padding-right: 500px;
    padding-left: 100px;
}

.back-to-top-button-8 {
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 580px;
    right: 30px;
}
