body {
    background-color: black;
    overflow-x: hidden;
}

#ballet-shoes {
    margin-left: 20px;
    margin-top: 10px;
    width: 40px;
    height: 80px;
}

#top-line {
    margin-top: 20px;
}

.nav-bar {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: "Bodoni Moda", serif;
    margin-left: 50px;
}

.nav-bar:hover, .nav-bar:active {
    background-color: pink;
    color: black;
}

#bottom-line {
    margin-top: 10px;
}

.title-serif {
    position: absolute;
    top: 180px;
    font-size: 125px;
    font-family: "Bodoni Moda", serif;
    color: white;
    text-align: right;
    right: 500px;
}

.title-cursive {
    position: absolute;
    top: 280px;
    right: 50px;
    font-size: 250px;
    font-family: "Ballet", serif;
    color: white;
}

.title-cursive:hover {
    color: pink;
}

* {box-sizing: border-box;}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    top: 600px;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    top: 625px;
    position: relative;
}

.active, .dot:hover {
    background-color: #717171;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
